.bg {
  background-image: url(../../assets/images/bg6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.h2Padding h2 {
  font-size: 7vmin;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.h2Padding {
  padding: 100px 0;
}
.h2Padding i {
  color: #feb000;
}
.linkH {
  color: #feb000;
  text-decoration: none;

  text-transform: uppercase;
}
