.iconImg {
  display: inline-block;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 5px 8.66px 27px 0 rgb(0 0 0 / 15%);
  -moz-box-shadow: 5px 8.66px 27px 0 rgb(0 0 0 / 15%);
  -webkit-box-shadow: 5px 8.66px 27px 0 rgb(0 0 0 / 15%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.iconImg img {
  vertical-align: center;
}
