.singleExperience {
  margin-bottom: 55px;
}
.textBox {
  position: relative;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2.5px 4.33px 15px 0 rgb(0 0 0 / 15%);
  transition: 0.5s;
}
.textBox:hover {
  box-shadow: 2.5px 4.33px 15px 0 #feb000;
  background-color: #feb000;
}
* {
  font-family: "Helvetica";
}
/* .textBox::after {
  position: absolute;
  content: "";
  top: 40%;
  right: -69px;
  width: 60px;
  height: 50px;
  background: url(../../assets/images/shape2.png) no-repeat;
} */
.icon {
  position: relative;
  width: 75px;
  height: 75px;
  text-align: center;
  border-radius: 50%;
  background-image: -ms-linear-gradient(180deg, #ffbd27 0, #feb000 100%);
  box-shadow: 2.5px 4.33px 15px 0 rgb(0 0 0 / 15%);
  margin: 0 auto;
  padding-top: 17px;
  background-color: #feb000;
  text-align: center;
}
.icon h3 {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}
.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 35px;
  border: 2px dashed #9fa4ab;
  width: 0;
  height: 233px;
  z-index: -1;
}
.icon::after {
  content: "";
  background-image: -ms-linear-gradient(180deg, #ffbd27 0, #feb000 100%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  opacity: 0.302;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -55px;
  margin-left: -55px;
  background-color: #feb000;
}

/* .singleExperience:nth-child(odd) .infoBox {
  text-align: right;
} */
.infoBox h4 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.infoBox h5 {
  color: #7f8693;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
}
.infoBox h6 {
  font-size: 20px;
  color: #feb000;
  font-weight: 600;
}
.removeDotLine .icon::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 0;
  height: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .icon {
    margin: 40px auto;
  }
  .icon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 0;
    height: 0;
    z-index: -1;
  }

  .infoBox {
    text-align: center !important;
  }
}
